/* Estilos generales */
@font-face {
  font-family: "Cartonsix NC";
  src: url('../fonts/Carton_Six.ttf');
}

body {
  font-family: "Cartonsix NC", sans-serif;
  margin: 0;
  padding: 20px; /* Espacio alrededor del contenido */
  font-size: 30px; /* Tamaño de fuente base */
  text-align: center; /* Centrar el texto */
}

.content {
  position: relative; /* Cambiado a posición relativa */
  max-width: 100%; /* Evitar que el contenido se desborde en pantallas pequeñas */
  margin: 0 auto; /* Centrar horizontalmente */
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 300%; /* Evitar que la imagen se desborde */
  height: auto; /* Mantener la proporción de aspecto */
}

